@model amigopet.Models.ViewModels.ShowPet

@{
    ViewBag.Title = "Details";
}

<h2>Amigo Pet</h2>
<h4>More...Pets</h4>

<div>

    <div>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.Pet.PetID })</div>
    <hr />


    @{
        
        string pic = "/Content/Pets/default.jpg";
        string alt = "No Profile Picture Provided.";
        if (Model.Pet.PetHasPic)
        {
            pic = "/Content/Pets/" + Model.Pet.PetID + "." + Model.Pet.PicExtension;
            alt = "Profile shot of " + Model.Pet.PetName + " " + Model.Pet.PetName;
        }
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pet.PetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.PetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pet.PetBreed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.PetBreed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pet.PetTip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.PetTip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pet.PetHasPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.PetHasPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pet.PicExtension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.PicExtension)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pet.PetID }) |
    @Html.ActionLink("Back to List", "List")
</p>
